/*preloader*/
#loader {
  height: 100vh;
  width: 100vw;
  background-color: rgb(33, 83, 95);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 999;
  transition: all .9s ease-out 0.3s;
  text-align: center;
  padding-top: 50vh;

}

#loader h3 {
  color: white;
  font-size: 20px;
  letter-spacing: 3px;
  vertical-align: middle;
  margin: 0 auto;
  display: inline;
}

.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.lds-ellipsis div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #fff;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}

.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}

@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(0);
  }
}

@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }

  100% {
    transform: translate(24px, 0);
  }
}

/*NAVBAR*/

#navbar-container {
  display: flexbox;
  text-transform: uppercase;
  background-color: white;
}

#navbar-container h1 {
  padding-top: 30px;
  text-align: center;
  font-size: 30px;
}

.navbar-toggler {
  z-index: 2000;
  border-style: none;
  margin: 0 auto;
}

.navbar {
  z-index: 1;
  /* Stay on top */
  background: transparent !important;
  overflow-x: hidden;
  /* Disable horizontal scroll */
  padding-top: 10px;

}

.navbar ul {
  margin: 0 auto;
}

.navbar a {
  padding: 20px 20px 20px 16px !important;
  text-decoration: none;
  font-size: 9px;
  color: black !important;
  letter-spacing: 5px;
  text-transform: uppercase;
}

.navbar a:hover {
  color: rgb(235, 96, 54) !important;
}

.collapse navbar-collapse {
  height: 100vh !important;
}


.custom-toggler.navbar-toggler {
  border-color: rgb(255, 102, 203);
}

.custom-toggler .navbar-toggler-icon {
  background-image: url("https://cdn0.iconfinder.com/data/icons/slim-square-icons-basics/100/basics-12-512.png");
}



/*FULL-SCREEN-PHOTO*/
.full-screen-photo {
  background-image: url(/images/oscar-keys-10sTDZAj5sA-unsplash.jpg);
  display: grid;
  justify-content: center;
  align-items: center;
  margin: 0px;
  height: 80vh;
  background-position: center;
  background-repeat: no-repeat;
  margin-bottom: 40px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#call-to-action {
  margin: 0 30px;
}

#call-to-action h1 {
  color: white;
  letter-spacing: 5px;
  text-transform: uppercase;
  margin-bottom: 40px;
  font-family: 'Work Sans', sans-serif;
}

#call-to-action a {
  color: white;
  letter-spacing: 5px;
  text-transform: uppercase;
  border: solid 1px white;
  padding: 20px;
  border-radius: 5px;
  font-family: 'Work Sans', sans-serif;

}

#call-to-action a:hover {
  color: rgb(235, 96, 54);

}



#call-to-action {
  text-align: center;
}


/*GENERAL*/

body {
  background: white;
  transition: all 0.5s ease;
  font-family: "Raleway", sans-serif;
  letter-spacing: 3px;
  height: 100%;
}

a {
  text-decoration: none;
  /* takes away lined text*/
  color: rgb(57, 61, 63);
}

a:hover {
  text-decoration: none;
  color: rgb(235, 96, 54);
}

li {
  list-style: none;
}

h2 {
  text-transform: uppercase;
  text-align: center;
  font-family: "Oswald", sans-serif;
  font-size: 70px;
  letter-spacing: 2px;
  margin: 60px 30px;
}


/*EFFECTS*/
.bg-active {
  background-color: white;
}

#return-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.7);
  width: 50px;
  height: 50px;
  display: block;
  text-decoration: none;
  -webkit-border-radius: 35px;
  -moz-border-radius: 35px;
  border-radius: 35px;
  display: none;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

#return-to-top i {
  color: rgb(235, 96, 54);
  margin: 0;
  position: relative;
  left: 16px;
  top: 13px;
  font-size: 19px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

#return-to-top:hover {
  background: rgba(0, 0, 0, 0.9);
}

#return-to-top:hover i {
  color: #fff;
  top: 5px;
}


/*ABOUT*/
.about-heading {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(550px, 1fr));
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  line-height: 3px;
  line-height: 1;
  margin-bottom: 100px;
}

#slogan h1 {
  font-size: 100px;
  font-family: "Oswald", sans-serif;
  color: black;
  line-height: 1;
  text-align: center;
}

#about-us {
  text-align: center;
  justify-self: start;
  margin-bottom: 50px;
}

#about-us h2 {
  font-size: 30px;
  color: black;
  font-family: 'Bebas Neue', sans-serif;
  margin: 20px
}

#about-us p {
  padding: 30px;
  margin-bottom: 30px;
}

#about-us a {
  border: solid 1px black;
  border-radius: 3px;
  padding: 20px;
  margin-top: 20px;
}


/*CLIENTS*/

.clients-heading {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  margin: 0 auto;
  text-align: center;

}

#client-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  text-transform: uppercase;
  justify-content: center;
  align-items: center;
  line-height: 2.5;
  font-family: 'Bebas Neue', sans-serif;
}

#client-list p {
  text-align: center;
}

#list-1 {
  font-weight: bold;
  margin: 0 auto;
  color: rgb(38, 57, 55);
}


#list-2 {
  font-weight: bold;
  margin: 0 auto;
  color: rgb(38, 57, 55);
}

/*TEAM*/
.team-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  justify-content: center;
  align-items: centre;
  grid-gap: 1rem;
  margin-bottom: 60px;
}

.team-heading {
  display: grid;
  align-items: center;
}

#article1 {
  border-radius: 10px;
  box-shadow: 0 1px 6px rgba (0, 0, 0, 0.175);
  margin: 30px;
  text-align: center;
}

#article2 {
  border-radius: 10px;
  box-shadow: 0 1px 6px rgba (0, 0, 0, 0.175);
  margin: 30px;
  text-align: center;
}

.article-text {
  font-size: 11px;
  text-align: center;
  display: block;
}

.article-text p {
  color: black;
  font-size: 13px;
}

.article-text h3 {
  color: black;
  font-size: 20px;
  text-transform: uppercase;
  font-family: 'Bebas Neue', sans-serif;
  padding: 20px;
}

.team-container img {
  max-width: 100%;
  height: auto;
}


/*MARITIME*/
#landing-container-maritime h2 {
  color: white;
  letter-spacing: 5px;
  font-family: 'Work Sans', sans-serif;
  font-size: 40px;
}

#rellax-content {
  height: 100vh;
}

#landing-container-maritime {
  background-image: url(/images/tobias-van-schneider-44t1AZNIMIE-unsplash.jpg);
  height: 80vh;
  justify-content: center;
  align-items: center;
  display: grid;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

/*INDUSTRY*/
.industry-container {
  background-image: url(/images/ant-rozetsky-SLIFI67jv5k-unsplash.jpeg);
  height: 80vh;
  justify-content: center;
  align-items: center;
  display: grid;
  grid-template-columns: 1;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

.industry-container h2 {
  color: white;
  letter-spacing: 5px;
  font-family: 'Work Sans', sans-serif;
  font-size: 40px;
}



/*LEGAL*/
#content-legal {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  font-size: 22px;
  text-transform: uppercase;
  justify-content: center;
  align-items: center;
  line-height: 2.5;
  font-family: 'Bebas Neue', sans-serif;
  margin: 50px 0;
  text-align: center;
}

/*FOOTER*/
footer {
  height: 400px;
  background-color: rgb(248, 247, 242);
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  margin-bottom: 30px;
  align-content: center;
  align-items: center;
  padding-left: 50px;
}


#footer-info {
  font-size: 15px;
  padding: 10px;
  text-transform: uppercase;
  float: right;

  margin-top: 30px;
}

#footer-media {
  font-size: 15px;
  padding: 10px;
  text-transform: uppercase;
  float: right;
  margin-top: 30px;
}

footer h6 {
  font-size: 25px;
}

footer p,
a {
  text-decoration: none;
  color: black;
  margin: 0;
}

footer a:hover {
  color: rgb(235, 96, 54);
  text-decoration: none;
}

#copyright {
  font-size: 10px;
  writing-mode: vertical-rl;
  float: right;
  text-align: center;
  padding: 20px;
}

#copyright a:hover {
  color: rgb(46, 109, 125);
  text-decoration: none;
}

/*MEDIA QUERIES*/

@media (min-width: 415px) {
  .full-screen-photo {
    background-attachment: fixed;
  }

  #landing-container-maritime {
    background-attachment: fixed;

  }

  .industry-container {
    background-attachment: fixed;
  }

}

@media (max-width: 415px) {

  #logo-header {
    font-size: 15px;
  }

  #call-to-action h1 {
    font-size: 25px;
  }

  .full-screen-photo {
    height: 100vh;
  }

  #landing-container-maritime {
    height: 100vh;
  }

  .industry-container {
    height: 100vh;
  }
}

@media (max-width: 767px) {

  .navbar-toggler {
    margin: 0px !important;
  }

  .navbar-collapse {
    height: 100vh !important;
    transition: 0.5s !important;
    opacity: 0.7 !important;
    text-align: center !important;
    padding-top: 50% !important;
  }


  #navbar-container h1 {
    font-size: 15px;
    font-weight: 900;
    text-align: right;
    margin-bottom: -40px;
    padding-right: 15px;
  }


  .about-heading {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    margin: 0 auto;
    margin-bottom: 50px;
  }

  #slogan h1 {
    font-size: 50px;
    text-align: center;
  }

  #about-us p {
    padding: 10px;
  }

  body {
    font-size: 10px;
  }

  h2 {
    font-size: 30px;
    margin: 30px 0;
  }

  footer {
    height: 400px;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    margin-bottom: 30px;
    padding-left: 0px;
    text-align: center;
  }

  #client-list {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    font-size: 15px;
    margin-top: 20px;

  }

  #content-legal {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    font-size: 10px;
    margin-top: 20px;
  }

  .team-container {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }

  #list-1 {
    width: 301.58px;
  }

  #list-2 {
    width: 301.58px;

  }


  #footer-info {
    font-size: 10px;
  }

  #footer-media {
    font-size: 10px;
  }

  footer h6 {
    font-size: 15px;
  }
}


@media (min-width: 1100px) {

  #client-list {
    margin-bottom: 150px;
    margin-top: 70px;
  }

  .about-heading {
    height: 100vh;
  }

}