/*preloader*/
#loader {
  height: 100vh;
  width: 100vw;
  background-color: rgb(33, 83, 95);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 999;
  transition: all .9s ease-out 0.3s;
}


.lds-roller {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.lds-roller div {
  animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 40px 40px;
}

.lds-roller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: white;
  margin: -4px 0 0 -4px;
}

.lds-roller div:nth-child(1) {
  animation-delay: -0.036s;
}

.lds-roller div:nth-child(1):after {
  top: 63px;
  left: 63px;
}

.lds-roller div:nth-child(2) {
  animation-delay: -0.072s;
}

.lds-roller div:nth-child(2):after {
  top: 68px;
  left: 56px;
}

.lds-roller div:nth-child(3) {
  animation-delay: -0.108s;
}

.lds-roller div:nth-child(3):after {
  top: 71px;
  left: 48px;
}

.lds-roller div:nth-child(4) {
  animation-delay: -0.144s;
}

.lds-roller div:nth-child(4):after {
  top: 72px;
  left: 40px;
}

.lds-roller div:nth-child(5) {
  animation-delay: -0.18s;
}

.lds-roller div:nth-child(5):after {
  top: 71px;
  left: 32px;
}

.lds-roller div:nth-child(6) {
  animation-delay: -0.216s;
}

.lds-roller div:nth-child(6):after {
  top: 68px;
  left: 24px;
}

.lds-roller div:nth-child(7) {
  animation-delay: -0.252s;
}

.lds-roller div:nth-child(7):after {
  top: 63px;
  left: 17px;
}

.lds-roller div:nth-child(8) {
  animation-delay: -0.288s;
}

.lds-roller div:nth-child(8):after {
  top: 56px;
  left: 12px;
}

@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}


#navbar {

  background-color: white;

}

/*FULL-SCREEN-PHOTO*/
.full-screen-photo {
  background-image: url(/images/oscar-keys-10sTDZAj5sA-unsplash.jpg);
  display: grid;
  margin: 0px;
  height: 100vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}




#logo {
  display: grid;
  justify-content: center;
  align-items: center;
  padding-top: 30px;
  letter-spacing: 5px;
  text-transform: uppercase;
}

#nav-items {
  text-align: center;
  font-size: 10px;
  letter-spacing: 3px;
  text-transform: uppercase;
  padding-bottom: 50px;
}

#nav-items a {
  display: inline-flex;
  margin: 10px;
}

/*GENERAL*/

body {
  background: white;
  transition: all 0.5s ease;
  font-family: "Raleway", sans-serif;
  letter-spacing: 3px;
  height: 100%;
}

a {
  text-decoration: none;
  /* takes away lined text*/
  color: rgb(57, 61, 63);
}

a:hover {
  text-decoration: none;
  color: rgb(235, 96, 54);
}

li {
  list-style: none;
}

h2 {
  text-transform: uppercase;
  text-align: center;
  font-family: "Oswald", sans-serif;
  font-size: 70px;
  letter-spacing: 2px;
  margin: 60px 30px;
}


/*EFFECTS*/
.bg-active {
  background-color: white;
}

#return-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.7);
  width: 50px;
  height: 50px;
  display: block;
  text-decoration: none;
  -webkit-border-radius: 35px;
  -moz-border-radius: 35px;
  border-radius: 35px;
  display: none;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

#return-to-top i {
  color: rgb(235, 96, 54);
  margin: 0;
  position: relative;
  left: 16px;
  top: 13px;
  font-size: 19px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

#return-to-top:hover {
  background: rgba(0, 0, 0, 0.9);
}

#return-to-top:hover i {
  color: #fff;
  top: 5px;
}


/*NAVIGATION*/

.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.9);
  overflow-x: hidden;
  transition: 0.5s;
}

.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 30px;
  color: rgb(235, 96, 54);
  display: block;
  transition: 0.3s;
  text-transform: uppercase;
  letter-spacing: 5px;
}

.overlay a:hover,
.overlay a:focus {
  opacity: 0.7 !important;
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 45px;
}

/*LANDING_PAGE*/
.landing-container {
  height: 100vh;
  display: flex;
  align-items: center;
  display: grid;
  z-index: -1;
}

.title {
  font-family: "Montserrat";
  text-align: center;
  color: #FFF;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  letter-spacing: 1px;
  margin-bottom: 100px;
}

svg {
  margin-bottom: 25px;
}

h1 {}


/*ABOUT*/
.about-heading {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(550px, 1fr));
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  line-height: 3px;
  line-height: 1;
  margin-bottom: 100px;
}

#slogan h1 {
  font-size: 100px;
  font-family: "Oswald", sans-serif;
  color: black;
  line-height: 1;
  text-align: center;
}

#about-us {
  text-align: center;
  justify-self: start;
  margin-bottom: 50px;
}

#about-us h2 {
  font-size: 30px;
  color: black;
  font-family: 'Bebas Neue', sans-serif;
  margin: 20px
}

#about-us p {
  padding: 30px;
  margin-bottom: 30px;
}

#about-us a {
  border: solid 1px black;
  border-radius: 3px;
  padding: 20px;
  margin-top: 20px;
}


/*CLIENTS*/

.clients-heading {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  margin: 0 auto;
  text-align: center;

}

#client-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  font-size: 22px;
  text-transform: uppercase;
  justify-content: center;
  align-items: center;
  line-height: 2.5;
  font-family: 'Bebas Neue', sans-serif;
  margin-bottom: 50px;
  margin-top: 30px;

}

#list-1 {
  font-weight: bold;
  margin: 0 auto;
  color: rgb(38, 57, 55);
}


#list-2 {
  font-weight: bold;
  margin: 0 auto;
  color: rgb(38, 57, 55);
}

/*TEAM*/
.team-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  grid-gap: 1rem;
  margin-bottom: 60px;
}

.team-heading {
  display: grid;
  align-items: center;
}

#article1 {
  border-radius: 10px;
  box-shadow: 0 1px 6px rgba (0, 0, 0, 0.175);
  margin: 30px;
  text-align: center;
}

#article2 {
  border-radius: 10px;
  box-shadow: 0 1px 6px rgba (0, 0, 0, 0.175);
  margin: 30px;
  text-align: center;
}

.article-text {
  font-size: 11px;
  text-align: center;
  display: block;
}

.article-text p {
  color: black;
  font-size: 13px;
}

.article-text h3 {
  color: black;
  font-size: 20px;
  text-transform: uppercase;
  font-family: 'Bebas Neue', sans-serif;
  padding: 20px;
}

.team-container img {
  max-width: 100%;
  height: auto;
}


/*MARITIME*/
#landing-container-maritime h2 {
  color: white;
}

#rellax-content {
  height: 100vh;
}

#landing-container-maritime {
  background-image: url(/images/tobias-van-schneider-44t1AZNIMIE-unsplash.jpg);
  height: 100vh;
  justify-content: center;
  align-items: center;
  display: grid;
  height: 100vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/*INDUSTRY*/
.industry-container {
  background-image: url(/images/ant-rozetsky-SLIFI67jv5k-unsplash.jpeg);
  height: 100vh;
  justify-content: center;
  align-items: center;
  display: grid;
  grid-template-columns: 1;
  height: 100vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}

.industry-container h2 {
  color: white;
}

/*LEGAL*/
#content-legal {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  font-size: 22px;
  text-transform: uppercase;
  justify-content: center;
  align-items: center;
  line-height: 2.5;
  font-family: 'Bebas Neue', sans-serif;
  margin: 50px 0;
  text-align: center;
}

/*FOOTER*/
footer {
  height: 400px;
  background-color: rgb(248, 247, 242);
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  margin-bottom: 30px;
  align-content: center;
  align-items: center;
  padding-left: 50px;
}


#footer-info {
  font-size: 15px;
  padding: 10px;
  text-transform: uppercase;
  float: right;

  margin-top: 30px;
}

#footer-media {
  font-size: 15px;
  padding: 10px;
  text-transform: uppercase;
  float: right;
  margin-top: 30px;
}

footer h6 {
  font-size: 25px;
}

footer p,
a {
  text-decoration: none;
  color: black;
  margin: 0;
}

footer a:hover {
  color: rgb(235, 96, 54);
  text-decoration: none;
}

#copyright {
  font-size: 10px;
  writing-mode: vertical-rl;
  float: right;
  text-align: center;
  padding: 20px;
}

#copyright a:hover {
  color: rgb(46, 109, 125);
  text-decoration: none;
}

/*MEDIA QUERIES*/
@media (max-width: 766px) {

  .overlay a {
    font-size: 15px;

  }

  .title h1 {
    font-size: 50px;
  }

  .about-heading {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    margin: 0 auto;
    margin-bottom: 50px;
  }

  #slogan h1 {
    font-size: 50px;
    text-align: center;
  }

  #about-us p {
    padding: 10px;
  }

  body {
    font-size: 10px;
  }

  h2 {
    font-size: 30px;
    margin: 30px 0;
  }

  footer {
    height: 400px;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    margin-bottom: 30px;
    padding-left: 0px;
    text-align: center;
  }

  #client-list {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    font-size: 15px;
    margin-top: 20px;
  }

  #content-legal {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    font-size: 10px;
    margin-top: 20px;
  }

  .team-container {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }

  #list-1 {
    width: 301.58px;
    padding-left: 20px;
  }

  #list-2 {
    width: 301.58px;
    padding-left: 20px;
  }

  svg {
    width: 90px;
    height: 42px;
    margin-bottom: 5px;
  }

  #footer-info {
    font-size: 10px;
  }

  #footer-media {
    font-size: 10px;
  }

  footer h6 {
    font-size: 15px;
  }
}



@media (min-width: 1100px) {

  .clients-list {
    height: 100vh;
  }

  .about-heading {
    height: 100vh;
  }
}